.tooltip {
  position: relative;
}

.tooltip::before,
.tooltip::after {
  --scale: 0;
  --arrow-size: 5px;
  --tooltip-color: #333;

  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.tooltip::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: azure;
  padding: 0.25rem;
  border-radius: 0.3rem;
  width: max-content;
  background-color: var(--tooltip-color);
  font-size: 10px;
}

.tooltip::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

.tooltip:hover::before,
.tooltip:hover::after {
  --scale: 1;
}

.inputSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorInput {
  border-color: var(--error-color) !important;
}

.errorSpan {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  color: var(--error-color);
}
