.inputSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorInput {
  border-color: var(--error-color) !important;
}

.errorSpan {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  color: var(--error-color);
}
